.App {
  text-align: center;
  background-color: #757575;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

.header-bar {
  background-color: #007ac1;
}

.event-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.EventListItem {
  margin: 20px;
  background-color: white;
  color: #333333;
  text-align: left;
  min-width: 50em;
}

.EventListItemDate {
  color: #555555;
}